{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
        *{
    margin: 30;
    border: 0;
    padding: 30;
    outline: 0;
    font-family: 'Rubik', sans-serif;
    }

    *, *:after, *:before{
    box-sizing: border-box;
    }

    .card{
    width: 40rem;
    height: auto;
    background: #fff;
    border-radius: 1.5rem;
    padding: 1.9rem;
    overflow: hidden;
    position: relative;
    }

    .card-img-holder{
    width: 100%;
    height: auto;
    position: relative;
    }

    .card-img-holder img{
    width: 100%;
    height: auto;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 1.5rem;
    }
    
    .blog-title{
    color: #22215B;
    padding: 1rem 0;
    font-size: 1.5rem;
    }

    .description{
    padding: 1rem 0;
    color: #22215B80;
    font-size: 1rem;
    }

    .blog-time{
    font-size: .9rem;
    color: #22215B;
    }

    .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    }

    .options span{
    font-weight: 600;
    color: #22215B;
    }

    .btnblog{
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 400;
    background: #EEF7FE;
    color: #22215B;
    cursor: pointer;
    }

    aside {
    padding: 50px;
    width: 560px;
    float: right;
   }

      .reccard {
    --border-radius: 1.75rem;
    width: 470px;
    font-family: "Arial";
    padding: 2rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px hsla(0, 0%, 24%, 0.03);
    position: relative;
    }


    .icons li{
    height: 70px;
    width: 70px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    }

    .icons li:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    }

    .icons li a span{
    font-size: 27px;
    line-height: 70px;
    color: #212121;
    transition: all 0.3s ease-out;
    }

    .icons li:hover a span{
    transform: scale(1.2);
    }

    aside {
        padding: 0px;
        width: 460px;
        float: right;
    }


    
    .underline {
        margin: 0 5px;
        position: relative;
    }

    .underline {
        text-decoration: none;
        color: #fff;
    }

    .underline::after {
        content: '';
        height: 2px;
        width: 0;
        background: #47c047;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: 0.4s;
    }

    .underline:hover::after {
        width: 100%;
    }

    body {
        background-image: url('https://i.pinimg.com/originals/6e/be/1a/6ebe1ab94315672fc7e9e9a88cad8939.jpg');
        background-size: cover;  
    }

    .cardh1 {
    width: 86rem;
    height: auto;
    background: #fff;
    border-radius: 2rem;
    padding: 2rem;
    overflow: hidden;
    position: relative;
    }

    
/*Like*/ 
    .bn632-hover {
        width: 110px;
        font-size: 15px;
        font-weight: 200;
        color: #fff;
        cursor: pointer;
        margin: 14px;
        height: 40px;
        text-align:center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .bn632-hover:hover {
        background-position: 100% 0;
        transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .bn632-hover:focus {
        outline: none;
    }

    .bn632-hover.bn28 {
        background-image: linear-gradient(
            to right,
            #eb3941,
            #f15e64,
            #e14e53,
            #e2373f
        );
        box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
    }

</style>
<br>
<div class="cardh1">
    <h1 style="text-align: center; font-weight: bold;">You Can Build Your Own Blog or You Can Be Aware <br>About News in Free Blog Sites</h1>
</div>
<br><br>


<aside>
    <div>
        <h2 style="color:#f0f0f0; background-color: #ff9000; font-weight: bold; text-align: center;">RECOMMEND</h2>
        <br>
        <img style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw1XUJtjlcj7Dx5v_y9p3qr6WwsUoanWaiEJKCbREEAg&s'); background-size: cover;" width="461" height="300">
        <br>
        <p style="font-size: 27px; font-weight: bold;">Why is everyone obsessed with unreal life and social network? </p>
        <hr>
    </div>
    
    
    <div class="reccard">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="background-image: url('https://i.ebayimg.com/images/g/XiEAAOSwj6ZjyiAe/s-l1200.webp'); background-size: cover;" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img style="background-image: url('https://i.ebayimg.com/images/g/XiEAAOSwj6ZjyiAe/s-l1200.webp'); background-size: cover;" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img style="background-image: url('https://i.ebayimg.com/images/g/XiEAAOSwj6ZjyiAe/s-l1200.webp'); background-size: cover;" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br>

        <h4 style="text-align: center;">People recomended to purchase!</h4>
        <br><br>
        <h3 style="text-align: center;">From <strong style="font-weight: bold;">12$</strong></h3>
        <p style="text-align: center;"><a href="/"><button class="w3-btn w3-deep-orange">View</button></a></p>
    </div>
        <hr>
        <br>
        
    <div class="reccard">
        <h2 style="font-weight: bold; text-align: center;">Join Us!</h2>
        <ul class="icons">
            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
        </ul>
    </div> 
</aside>




<div class="card">
    {% for article in object_list %}
    {% if article.photo %}
        <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }}">
    {% endif %}
    <h3 class="blog-title">{{ article.title }}</h3>
    <span class="blog-time"><strong>author</strong>: {{ article.author | title }} &middot; {{ article.date }}</span>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis viverra turpis, non cursus ex accumsan at.
    </p>
    <div class="options">
        <a href="{% url 'article_detail' article.pk  %}">
            <span class="read">
                <button style="background-color:#ffffff">Read Full Blog</button>
            </span>
        </a>
        <a type="button" id="like-button" href="/articles/rate/{{ article.id }}/">
            <button class="bn632-hover bn28">Like({{ article.rates_count }})</button>
        </a> 
    </div>
    <br><br>
    <hr>
    {% endfor %}
</div>
<br/><br/>

<!--Paginator-->
<div class="container">
    <nav aria-label="Page navigation example">
        {% if page_obj.has_other_pages %}
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3;">First</a>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&#8592;</a>
        </li>
        {% else %}
        <li class="page-item disabled"></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&#8594;</a>
        </li>    
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3;">Last</a>
        {% else %}
        <li class="page-item disabled"></li>
        {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>
<hr>

<aside class="endaside">
    <a style="font-size: 32px; color:#d3d3d3; text-decoration: none; font-weight: 600;" href="">Company</a><br>
    <a class="underline" style="font-size: 23px; color:#d3d3d3; text-decoration: none; font-weight: 300;" href="">About us</a><br>
    <a class="underline" style="font-size: 23px; color:#d3d3d3; text-decoration: none; font-weight: 300;" href="">News letter</a><br>
    <a class="underline" style="font-size: 23px; color:#d3d3d3; text-decoration: none; font-weight: 300;" href="">Contact us</a><br>
    <a class="underline" style="font-size: 23px; color:#d3d3d3; text-decoration: none; font-weight: 300;" href="">Careers</a>
</aside>
<div class="reccard">
    <aside style="padding: 0px;
    width: 270px;
    float: right;">
    <aside style="padding: 0px;
    width: 180px;
    float: right;"><h2 style="color: #55acee;">Blog</h2></aside>
        <h2 style="color:#d3d3d3;">Husan</h2>
    </aside>
    <img style="background-image: url('https://productimages.hepsiburada.net/s/37/375-375/10564942069810.jpg'); background-size: cover; width:110px; height: 110px">
    <br><br>
    <h5 >We're a crew of HusanBlog professionals sharing our map to HusanBlog success with brilliant tutorials and tips.</h5>
    <br>
    <!-- Facebook -->
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><i class="fab fa-facebook-f"></i
    ></a>

    <!-- Twitter -->
    <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"
    ><i class="fab fa-twitter"></i
    ></a>

    <!-- Instagram -->
    <a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button"
    ><i class="fab fa-instagram"></i
    ></a>

    <!-- Youtube -->
    <a class="btn btn-primary" style="background-color: #ed302f;" href="#!" role="button"
    ><i class="fab fa-youtube"></i
    ></a>
</div>
<br>

<br><br>
{% endblock content %}